.error{
    font-weight: bold;
    color:red;
}
.ng-cloak{
    display: none;
}
body{
    padding: 5px;
    overflow: hidden;
}
.top-menu{
    margin-bottom: 10px;
}
.main-content{
    overflow: auto;
    height: 100%;
}