.error{
    font-weight: bold;
    color:red;
}
.ng-cloak{
    display: none;
}
body{
    padding: 5px;
    overflow: hidden;
}
.top-menu{
    margin-bottom: 10px;
}
.main-content{
    overflow-y: auto;
}
.glyphicon{
    cursor: pointer;
}
.glyphicon.active{
    color: #428bca;
}
.left-nav-panel{
    position: fixed;
}
.notification{
    margin: -5px 0 5px;
}