<div ng-controller="LeftMenuCtrl" class="col-sm-12">
    <div class="row">
        <div class="btn-group">
            <label class="btn btn-default" ng-model="activeType" btn-radio="'req'"
                   ng-click="showRequest()" ng-disabled="disabled">
                <span class="glyphicon glyphicon-arrow-up"></span>
            </label>
            <label class="btn btn-default" ng-model="activeType" btn-radio="'resp'"
                   ng-click="showResponse()" ng-disabled="disabled">
                <span class="glyphicon glyphicon-arrow-down"></span>
            </label>
        </div>
    </div>
    <div class="sub-controls">
        <div class="row">
            <span class="glyphicon glyphicon-tag" ng-class="{active: formatted}" ng-click="toggleFormatted()"></span>
        </div>
        <div class="row">
            <span class="glyphicon glyphicon-download-alt" ng-class="{active: !disabled}" ng-click="copy()"></span>
        </div>
        <div class="row">
            <a href="https://osa.bw-sl.com/osa/" target="_blank"><span class="glyphicon glyphicon-info-sign active"></span></a>
        </div>
        <div class="row">
            <a href="https://confluence.bw-sl.com/display/PSI/How+to+get+OSA+logs+for+Velvet+call"
               target="_blank"><span class="glyphicon glyphicon-question-sign active"></span></a>
        </div>
    </div>
</div>

